In [2]:
l=[11,22,33,44,55,66,77,88]
l[2]

33

for loops

for item in collections:
    print(item)

In [3]:
for items in l:
    print(items)

11
22
33
44
55
66
77
88

In [4]:
for items in l:
    print(items, end="  ")

11  22  33  44  55  66  77  88

In [5]:
s="45678"
for i in s:
    print(i)

4
5
6
7
8

In [6]:
s1="datascience"
for i in s1:
    print(i,end=" ")

d a t a s c i e n c e

In [7]:
for i in l:
    print(i)
    if i==44:
       break

11
22
33
44

In [8]:
for i in l:
    print(i)
    if i==44:
     continue

11
22
33
44
55
66
77
88

In [9]:
for i in l:
  #  print(i)
    if i==44:
        
     continue
    print(i)

11
22
33
55
66
77
88

In [10]:
for i in l:
    print(i)
    if i==44:
        
     continue
    #print(i)

11
22
33
44
55
66
77
88

In [11]:
for i in l:
#   print(i)
   if i==44:
    
    continue
print(i)

88

In [12]:
for i in l:
#   print(i)
   if i==44:
    print(i)
    continue

44

In [13]:
s="datascience"
for i in s:
    print(i)
    if i=="s":
       break

d
a
t
a
s

In [16]:
Dictionary={"name":"abc","a":1,"b":2,"c":"3"}

In [17]:
Dictionary={"name":"abc","a":1,"b":2,"c":3}
for i in Dictionary:
    print(i)

name
a
b
c

In [18]:
for i in Dictionary:
    print(i,"=",Dictionary[i])

name = abc
a = 1
b = 2
c = 3

In [19]:
l=[45,"nh",56,67,"bv",78,89,"uyt",90]
for i in l:
    if type(i)==str:
        print(i.upper())

NH
BV
UYT

In [20]:
for i in range(1,18,3):
     print(i)

1
4
7
10
13
16

In [22]:
s=(input("enter your value:"))
for g in range(len(s)):
    print(g,":",s[g])

enter your value:dipali
0 : d
1 : i
2 : p
3 : a
4 : l
5 : i

In [23]:
s=(input("enter your value:"))
for g in range(len(s)):
    print(g,":",s[g].upper())

enter your value:dipali
0 : D
1 : I
2 : P
3 : A
4 : L
5 : I

In [24]:
fact=int(input("enter your value:"))
a=1
for i in  range (1,fact+1):
    a=a*i
print(a)

enter your value:23
25852016738884976640000

while loop

In [25]:
i=0
while i<9:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8

In [26]:
a=7
i=1
while i<11:
     print(a*i)
     i+=1

7
14
21
28
35
42
49
56
63
70

In [27]:
i=11
while i<21:
     print(i**2)
     i+=1

121
144
169
196
225
256
289
324
361
400

In [28]:
a=4
i=1
while i<11:
    print(a,"x",i,"=",a*i)
    i+=1

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [29]:
fact=6
a=1
while fact>0:
        a=a*fact
        fact-=1
print(a)

720

In [30]:
fact=int(input("enter your value:"))
a=1
while fact>0:
    a=a*fact
    fact-=1
print(a)

enter your value:6
720

In [31]:
a=6
i=1
while i<11:
    print (i*a)
    i+=1

6
12
18
24
30
36
42
48
54
60

In [32]:
facts=int(input("enter a factorial:"))
a=1
while facts>0:
    a=a*facts
    facts-=1
print(a)

enter a factorial:6
720