In [1]:
# function without parameter 
# function with parameter
# function with default parameter
# function with retun parameter

 1)function without parameter

In [2]:
 def xyz():
    print("this is a function without parameter")

In [3]:
xyz()

this is a function without parameter

2)function with parameter

In [4]:
def sub(a,b):
    "This function will return subtraction of a and b"
    c=a-b
    print(c)

In [5]:
sub(16,5)

11

In [6]:
def multiply(a,b):
    "This function will return multiplication of a and b"
    c=a*b
    print(c)

In [7]:
multiply(5,89)

445

In [8]:
def divide(d,h):
    "This function will return Division of d and h"
    c=d/h
    print(c)

In [9]:
divide(57,3)

19.0

In [10]:
def fun(a,b,c,d):
    e=(a+b)-(c*d)
    print(e)

In [11]:
fun(54,23,5,2)

67

3)function with default parameter

In [12]:
def add(a=56,b=54):
    "This function will return addition of a and b"
    c=a+b
    print(c)

In [13]:
add()

110

In [14]:
add(196,224)

420

4) function with return parameter

In [15]:
def add (a,b):
    "This function will return addition of a and b"
    c=a+b
    return c

In [16]:
add(75,123)

198

In [17]:
def sub(a,b):
    "This function will return subtraction of a and b"
    c=a-b
    return c

In [18]:
sub(89,12)

77

In [19]:
def divide(c,d):
    "This function return Division of c and d"
    e=c/d
    return e
divide(80,4)

20.0

In [20]:
def multiply(y,u):
    "This function will return multiplication y and u"
    r=y*u
    return r
multiply(45,12)

540

In [21]:
def bbbb(a:int,b:int):
    """ this function will return sum of a and b"""
    c=a+b
    return c

In [22]:
bbbb(45,12)

57

In [23]:
def abc(a,b,c):
    return a,b,c
abc(15,12,16)

(15, 12, 16)

In [24]:

def hjk(d,e,f):
    return (d,e,f)
hjk(78,45,12)

(78, 45, 12)

Arguments= (*args)to add single multiple values
keyword arguments(**kwargs)=add dictionary type values

Arguments= (*args)to add single multiple values

In [25]:
def add(*args):
    return(args)
add(45,23,12,59)

(45, 23, 12, 59)

In [26]:
def add(*args):
    return(args)
add(42,75,89,23)

(42, 75, 89, 23)

In [27]:
def add(a,b,c,d,*args):
    return a,b,c,d,args
add(72,15,63,24,59,20,31)

(72, 15, 63, 24, (59, 20, 31))

keyword arguments(**kwargs)=add dictionary type values

In [28]:
def test(**kwargs):
    return kwargs
test(name="dipali",age=24,education="BE civil",Course="data science")

{'name': 'dipali',
 'age': 24,
 'education': 'BE civil',
 'Course': 'data science'}

In [29]:
def test(*args,**kwargs):
    return  args,kwargs
test(45,23,12,76,name="dipali",age=24,education="BE civil",Course="data science")

((45, 23, 12, 76),
 {'name': 'dipali',
  'age': 24,
  'education': 'BE civil',
  'Course': 'data science'})

In [30]:
age=[]
def add_age(*a):
    print(a)
add_age(1,3,9)

(1, 3, 9)

In [31]:
age=[]
def add_age(*args):
    for i in args:
        age.append(i)
add_age(11,22,33)

In [32]:
age

[11, 22, 33]

In [33]:
def abc(a):
    if a<0:
         print("a is negative")
    else:
        print("a is positive")

In [34]:
abc(23)

a is positive

In [35]:
S="dipali"
print(S.islower())

True

In [36]:
s1="tyuikl"
def chek_lower(name):
    print(name.islower())
chek_lower(s1)

True

In [37]:
s1=[5,6,4,45,8,3]

In [38]:
def sorted_re(lit):
    lit.sort()
    print(lit)

In [39]:
sorted_re([5,6,4,45,8,3])

[3, 4, 5, 6, 8, 45]

# Local and global variable

Global Variable

In [40]:
a=56
def test():
    print("value of a:",a)

In [41]:
test()

value of a: 56

In [42]:
 print("value of a:",a)

value of a: 56

LOcal variable

In [43]:
def test1():
    b=98
    print("value of b:",b)

In [44]:
test1()

value of b: 98

In [46]:
#print table 6

In [47]:
a=6
for i in range(1,11):
     print(i*a)

6
12
18
24
30
36
42
48
54
60

define use for table

In [48]:
def multiply(table):
    for i in range(1,11):
        print(table*i)

In [49]:
multiply(34)

34
68
102
136
170
204
238
272
306
340

In [50]:
def multiply1(tables):
    for i in range(1,11):
        print(i*tables)

In [51]:
multiply1(23)

23
46
69
92
115
138
161
184
207
230

In [53]:
def factorial(fact):
    a=1
    for i in range(1,fact+1):
         a=a*i
    print(a)

In [54]:
factorial(9)

362880

In [55]:
def facts(fac):
    a=1
    for i in range(1,fac+1):
        a=a*i
    print(a)

In [56]:
facts(12)

479001600

In [58]:
def factorial1():
    facts=int(input("enter your value"))
    a=1
    for i in range(1,facts+1):
         a=a*i
    print(a)

In [59]:
factorial1()

enter your value16
20922789888000

# Lambda

In [60]:
ace=lambda a:a+2

In [61]:
ace(9)

11

In [62]:
wer=lambda  a,b,c:(a+b)*c
wer(5,8,6)

78

In [63]:
d="   Dipali              "
test=lambda  name:name.strip()
test(d)

'Dipali'

In [64]:
S="DTsfyWEqr"
testi=lambda name1:name1.swapcase()
testi(S)

'dtSFYweQR'

# list comprehension

In [65]:
k=[8,9,4,3]
for i in k:
    print(i)

8
9
4
3

In [66]:
S="python difficult"

In [67]:
l=[]
for i in S:
    l.append(i)

In [68]:
l

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'd',
 'i',
 'f',
 'f',
 'i',
 'c',
 'u',
 'l',
 't']

In [69]:
[i for i in S]

['p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'd',
 'i',
 'f',
 'f',
 'i',
 'c',
 'u',
 'l',
 't']

In [70]:
table=[]
for i in range(1,11):
     a=2
#     print(a*i)
table.append(i*a)

In [71]:
table

[20]