In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("E:\lec data science\pandas\car_data.csv")

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
X=df.drop("Selling_Price",axis=1)

In [6]:
X

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
y=df.Selling_Price

In [8]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Present_Price  301 non-null    float64
 3   Kms_Driven     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Seller_Type    301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

In [10]:
X.drop(['Present_Price','Car_Name'],axis=1,inplace=True)

In [11]:
X

     Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0    2014       27000    Petrol      Dealer       Manual      0
1    2013       43000    Diesel      Dealer       Manual      0
2    2017        6900    Petrol      Dealer       Manual      0
3    2011        5200    Petrol      Dealer       Manual      0
4    2014       42450    Diesel      Dealer       Manual      0
..    ...         ...       ...         ...          ...    ...
296  2016       33988    Diesel      Dealer       Manual      0
297  2015       60000    Petrol      Dealer       Manual      0
298  2009       87934    Petrol      Dealer       Manual      0
299  2017        9000    Diesel      Dealer       Manual      0
300  2016        5464    Petrol      Dealer       Manual      0

[301 rows x 6 columns]

In [12]:
X.isnull().sum()

Year            0
Kms_Driven      0
Fuel_Type       0
Seller_Type     0
Transmission    0
Owner           0
dtype: int64

In [13]:
L=[]
for i in X.Year:
    Year_2=2023-i
    print(Year_2)

9
10
6
12
9
5
8
8
7
8
6
8
8
8
14
7
8
7
8
13
7
6
12
9
10
12
10
6
13
8
11
12
9
9
9
12
8
20
7
20
7
9
15
9
11
9
10
17
8
6
11
8
6
10
18
14
8
13
9
9
10
8
9
8
6
9
6
13
12
7
9
12
10
12
9
8
10
19
13
11
7
8
6
8
18
17
13
11
10
9
14
9
18
8
15
11
7
6
10
13
7
6
6
6
6
8
9
10
7
6
7
7
9
7
8
8
10
8
8
10
7
12
7
10
11
14
6
7
6
6
6
8
6
7
6
8
9
10
7
8
10
7
8
7
9
11
9
8
13
7
12
7
11
10
9
6
6
8
6
6
12
9
11
13
7
7
7
9
10
8
11
8
9
6
8
12
12
7
9
13
11
7
10
10
15
15
13
10
10
18
15
11
16
10
15
8
15
13
12
16
17
13
8
12
8
7
6
8
6
8
11
8
7
12
6
11
7
7
9
11
6
10
9
8
10
12
8
12
11
11
10
6
8
10
8
6
7
8
10
11
11
8
9
7
10
11
11
8
10
7
7
10
8
9
10
11
7
8
8
9
7
7
8
7
8
6
9
7
6
8
12
14
8
13
9
7
8
8
7
9
8
17
9
7
10
7
7
8
8
7
9
8
7
13
9
8
7
8
14
6
7

18 cell is wrong answer

In [14]:
X["Present_Year"]=2023

In [15]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_Year
0  2014       27000    Petrol      Dealer       Manual      0          2023
1  2013       43000    Diesel      Dealer       Manual      0          2023
2  2017        6900    Petrol      Dealer       Manual      0          2023
3  2011        5200    Petrol      Dealer       Manual      0          2023
4  2014       42450    Diesel      Dealer       Manual      0          2023

In [16]:
X['Year']=X["Present_Year"]-X["Year"]

In [17]:
X['Year']

0       9
1      10
2       6
3      12
4       9
       ..
296     7
297     8
298    14
299     6
300     7
Name: Year, Length: 301, dtype: int64

In [18]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_Year
0     9       27000    Petrol      Dealer       Manual      0          2023
1    10       43000    Diesel      Dealer       Manual      0          2023
2     6        6900    Petrol      Dealer       Manual      0          2023
3    12        5200    Petrol      Dealer       Manual      0          2023
4     9       42450    Diesel      Dealer       Manual      0          2023

In [19]:
X.drop('Present_Year',axis=1,inplace=True)

In [20]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9       27000    Petrol      Dealer       Manual      0
1    10       43000    Diesel      Dealer       Manual      0
2     6        6900    Petrol      Dealer       Manual      0
3    12        5200    Petrol      Dealer       Manual      0
4     9       42450    Diesel      Dealer       Manual      0

In [21]:
X['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [22]:
X['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [23]:
X['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [24]:
X=pd.get_dummies(data=X,columns=['Fuel_Type','Seller_Type','Transmission'],drop_first=True)

In [25]:
X

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1
3,12,5200,0,0,1,0,1
4,9,42450,0,1,0,0,1
...,...,...,...,...,...,...,...
296,7,33988,0,1,0,0,1
297,8,60000,0,0,1,0,1
298,14,87934,0,0,1,0,1
299,6,9000,0,1,0,0,1
300,7,5464,0,0,1,0,1

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
Scaler=MinMaxScaler()

In [28]:
X['Year']=Scaler.fit_transform(X[['Year']])

In [29]:
X['Year']

0      0.266667
1      0.333333
2      0.066667
3      0.466667
4      0.266667
         ...
296    0.133333
297    0.200000
298    0.600000
299    0.066667
300    0.133333
Name: Year, Length: 301, dtype: float64

In [30]:
X['Kms_Driven']=Scaler.fit_transform(X[['Kms_Driven']])

In [31]:
X['Kms_Driven']

0      0.053053
1      0.085085
2      0.012813
3      0.009409
4      0.083984
         ...
296    0.067043
297    0.119119
298    0.175043
299    0.017017
300    0.009938
Name: Kms_Driven, Length: 301, dtype: float64

In [32]:
X['Owner']=Scaler.fit_transform(X[["Owner"]])

In [33]:
X["Owner"]

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
296    0.0
297    0.0
298    0.0
299    0.0
300    0.0
Name: Owner, Length: 301, dtype: float64

In [34]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.053053,0.0,0,1,0,1
1,0.333333,0.085085,0.0,1,0,0,1
2,0.066667,0.012813,0.0,0,1,0,1
3,0.466667,0.009409,0.0,0,1,0,1
4,0.266667,0.083984,0.0,1,0,0,1

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [37]:
X_train.shape

(240, 7)

In [38]:
X_test.shape

(61, 7)

In [39]:
y_train.shape

(240,)

In [40]:
y_test.shape

(61,)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
model=LinearRegression()

In [43]:
model.fit(X_train,y_train)

LinearRegression()

In [44]:
model.score(X_test,y_test)

0.5902852717348187

In [45]:
y_pred=model.predict(X_test)

In [46]:
y_pred

array([ 5.97794492,  5.3246979 ,  9.15930812, -0.43919744,  4.3655473 ,
       10.06732916,  0.87891787,  0.68344957,  1.20907945,  9.7792233 ,
       11.07710198,  0.2949209 ,  9.56784369,  6.35614711,  9.50293903,
        4.25540861,  0.11516681,  5.61121886,  1.50960852,  1.5419349 ,
        0.38920619, 10.44657746,  9.28357614,  3.90277877,  0.60712338,
        4.1117164 ,  4.29056804,  3.79951392,  1.49883305,  1.19112035,
        0.37124709,  9.69840734, -0.50699326,  2.90331447, 10.3407714 ,
        4.66428494,  4.22187896,  3.16163964,  4.28976886,  3.49180122,
        1.99813547,  6.26553644,  4.73612136,  0.53079719, 10.10745877,
        0.29941067,  4.64127035,  8.17087117,  4.41044955,  9.19463368,
        9.19638515,  1.52981251, 14.86029125, 15.55653262,  9.98196055,
       10.04968479,  5.0775433 , 10.38123326,  2.3846168 , 10.12014734,
        0.30839023])

In [47]:
model.score(X_test,y_pred)

1.0