In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\\lec data science\\machine learning\\HousePricePrediction.csv")

In [3]:
df

      Town  Area    Price  steel
0   Mumbai  2000  5500000   7000
1   Mumbai  2100  5530000   7200
2   Mumbai  2200  5560000   7500
3   Mumbai  2300  5590000   7800
4   Mumbai  2400  5620000   8000
5     Pune  2500  5650000   8200
6     Pune  2600  5680000   8400
7     Pune  2700  5710000   8500
8     Pune  2800  5740000   8600
9    Delhi  2900  5770000   8800
10   Delhi  3000  5800000   9000
11   Delhi  3100  5830000   9200
12   Delhi  3200  5860000   9300
13  Mumbai  3300  5890000   9400
14  Mumbai  3400  5920000   9500
15  Mumbai  3500  5950000   9600
16  Mumbai  3600  5980000   9800
17  Mumbai  3700  6010000  10000
18    Pune  3800  6040000  10100
19    Pune  3900  6070000  10200
20    Pune  4000  6100000  10300
21    Pune  4100  6130000  10600
22   Delhi  4200  6160000  10700
23   Delhi  4300  6190000  10800
24   Delhi  4400  6220000  10900
25   Delhi  4500  6250000  11000
26  Mumbai  4600  6280000  11100
27  Mumbai  4700  6310000  11200
28  Mumbai  4800  6340000  11300
29  Mumbai  4900  6370000  11400
30  Mumbai  5000  6400000  11500
31    Pune  5100  6430000  11600
32    Pune  5200  6460000  11700
33    Pune  5300  6490000  11800
34    Pune  5400  6520000  11900
35   Delhi  5500  6550000  12000
36   Delhi  5600  6580000  12100
37   Delhi  5700  6610000  12300
38   Delhi  5800  6640000  12500

In [4]:
X=df[["Area","steel"]]

In [5]:
X.head()

   Area  steel
0  2000   7000
1  2100   7200
2  2200   7500
3  2300   7800
4  2400   8000

In [6]:
Y=df["Price"]

In [7]:
Y.head()

0    5500000
1    5530000
2    5560000
3    5590000
4    5620000
Name: Price, dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression

In [12]:
model=LinearRegression()

In [13]:
model.fit(X,Y)

LinearRegression()

In [14]:
model.coef_

array([ 3.0000000e+02, -2.7134438e-13])

In [16]:
model.intercept_

4900000.000000002

In [17]:
model.predict([[3500,9600]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5950000.])

In [18]:
model.score(X,Y)

1.0