In [1]:
sets={10,50,20,60,30,70,40,5,84}
def sset(s):
    "This will print the sets"
    print("print:",s)
            
sset(sets)

print: {5, 70, 40, 10, 50, 20, 84, 60, 30}

# 1)Type

In [2]:
def typee(s):
    "This method will gives data type the Data type"
    print("Data type:",type(s))
            
typee(sets)

Data type: <class 'set'>

# 2)length

In [3]:
def length(s):
    "This method gives the length of sets"
    print("Length of set:",len(s))
            
length(sets)

Length of set: 9

# 3)add

In [4]:
def addd(s):
    "This will add the element into sets"
    s.add(53)
    print("adding element into set:",s)
            
addd(sets)

adding element into set: {5, 70, 40, 10, 50, 20, 84, 53, 60, 30}

In [5]:
s1=[1,3,5]
def adddd(s):
    try:
        s.add(s1)
        print(s)
    except Exception as e:
        print(e)
        
adddd(sets)

unhashable type: 'list'

In [6]:
s1=(5,10,15)
def adddd(s):
    try:
        s.add(s1)
        print(s)
    except Exception as e:
        print(e)
        
adddd(sets)

{(5, 10, 15), 5, 70, 40, 10, 50, 20, 84, 53, 60, 30}

In [7]:
s1={2,7,21}
def ad(s):
    try:
        s.add(s1)
        print(s)
    except Exception as e:
        print("error:",e)
        
adddd(sets)

unhashable type: 'set'

# 4)update

In [8]:
s2=[4,8,12]
def uupdate(s):
    "This method will update the list into sets"
    s.update(s2)
    print("updating element into set:",s)
            
uupdate(sets)

updating element into set: {(5, 10, 15), 4, 5, 70, 40, 8, 10, 12, 50, 20, 84, 53, 60, 30}

# 5)Remove

In [9]:
s2=[4,8,12]
def rremove(s):
    "This method will remove of element the sets"
    s.remove(84)
    print("after removing element set:",s)
            
rremove(sets)

after removing element set: {(5, 10, 15), 4, 5, 70, 40, 8, 10, 12, 50, 20, 53, 60, 30}

# 6)Discard

In [10]:
s2=[4,8,12]
def ddiscard(s):
    "This method will remove of element the sets using discard"
    s.discard(40)
    print("after removing element using discard, set:",s)
            
ddiscard(sets)

after removing element using discard, set: {(5, 10, 15), 4, 5, 70, 8, 10, 12, 50, 20, 53, 60, 30}

# 7)Clear

In [11]:
def clearr(s):
    "This will remove all element of set"
    s.clear()
    print("after removing all element using clear, set:",s)
            
clearr(sets)

after removing all element using clear, set: set()

# 8)copy

In [12]:
sets={10,50,20,60,30,70,40,5,84}
def copyy(s):
    "This will remove all element of set"
    s1=s.copy()
    print("after copying set:",s1)
            
copyy(sets)

after copying set: {5, 70, 40, 10, 50, 20, 84, 60, 30}

# 9)Set to List

In [13]:
sets={10,50,20,60,30,70,40,5,84}
def set_to_list(s):
    "This will gives all element of set"
    print("convert set to list:",list(set(s)))
            
set_to_list(sets)

convert set to list: [5, 70, 40, 10, 50, 20, 84, 60, 30]

# 10)Intersection

In [14]:
set1={2,4,8,1,3,7,10,13,14,16}
set2={1,3,7,9,11,14}
def intersectionn(s1,s2):
    "This method gives common element"
    s3=s1.intersection(s2)
    print("set:",s3)
    
intersectionn(set1,set2)

set: {1, 3, 14, 7}

# 11)Union

In [15]:
set1={2,4,8,1,3,7,10,13,14,16}
set2={1,3,7,9,11,14}
def unionn(s1,s2):
    "This method will gives all elements of sets"
    s3=s1.union(s2)
    print("set:",s3)
    
unionn(set1,set2)

set: {1, 2, 3, 4, 7, 8, 9, 10, 11, 13, 14, 16}

# 12)Difference

In [16]:
set1={2,4,8,1,3,7,10,13,14,16}
set2={1,3,7,9,11,14}
def differencee(s1,s2):
    s3=s1.difference(s2)
    print("set:",s3)
    
differencee(set1,set2)

set: {2, 4, 8, 10, 13, 16}

# 13)Symmetric_difference

In [17]:
set1={2,4,8,1,3,7,10,13,14,16}
set2={1,3,7,9,11,14}
def Symmetric_differencee(s1,s2):
    s3=s1.symmetric_difference(s2)
    print("set:",s3)
    
Symmetric_differencee(set1,set2)

set: {2, 4, 8, 9, 10, 11, 13, 16}

# 14)intersection_update

In [18]:
set1={2,4,8,1,3,7,10,13,14,16}
set2={1,3,7,9,11,14}
def intersection_updatee(s1,s2):
    s3=s1.intersection_update(s2)
    print("set:",s3)
    
intersection_updatee(set1,set2)

set: None