In [1]:
tupl=(80,10,20,40,50,"Dipali",30,"It")

In [2]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def Variable(t):
    "This will print the Variable"
    print("Tuple:",t)
    
Variable(tupl)

Tuple: (80, 10, 20, 40, 50, 'Dipali', 30, 'It')

# 1)Data type

In [3]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def typee(t):
    "This method gives data type of the variable"
    print("Data type:",type(t))
    
typee(tupl)

Data type: <class 'tuple'>

# 2)length

In [4]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def lengthh(t):
    "This method gives length  of the variable"
    print("length of tuple:",len(t))
    
lengthh(tupl)

length of tuple: 8

In [5]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def Slicing_operation(t):
    print("slicing operation:",t[1:4])
    
Slicing_operation(tupl)

slicing operation: (10, 20, 40)

In [6]:
#In tuple we cannot replace one element
#In tuple we cannot use add,remove,replace Methods

In [7]:
#We only use index count options in tuple

# 3)Index

In [8]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def index(t):
    t.index(40)
    print("index of element:", t.index(40))
    
index(tupl)

index of element: 3

# 4)count

In [9]:
tupl=(80,10,20,40,50,"Dipali",30,"It")
def count(t):
    t.count(40)
    print("count of element:", t.count(40))
    
count(tupl)

count of element: 1

# 5)sorted

In [10]:
TTupl=(75,25,50,100,5,150)
def sort(t):
    print("sorting of tuple:", sorted(t))
    
sort(TTupl)

sorting of tuple: [5, 25, 50, 75, 100, 150]

# 6)Min

In [11]:
TTupl=(75,25,50,100,5,150)
def Minimum_Value(t):
    print("min_value:", min(t))
    
Minimum_Value(TTupl)

min_value: 5

# 7)Max

In [12]:
TTupl=(75,25,50,100,5,150)
def Maximum_Value(t):
    print("max_value:", max(t))
    
Maximum_Value(TTupl)

max_value: 150